In [10]:
import numpy as np
import pandas as pd
import polars as pl
import os
import csv
from datetime import datetime
import rdata
import pyreadr as pr

In [11]:
path_Herzraten = "../Wildschwein_Eisenstadt/Herzraten"
path_Klimadaten = "../Wildschwein_Eisenstadt/Klimadaten"
path_StarOddi_Backup = "../Wildschwein_Eisenstadt/StarOddi Backup"
path_Suhlenlogger = "../Wildschwein_Eisenstadt/Suhlenlogger"
path_Telemetriedate = "../Wildschwein_Eisenstadt/Telemetriedaten"
path_Temperaturlogger = "../Wildschwein_Eisenstadt/Temperaturlogger"
path_Wichtige_Projektfiles = "../Wildschwein_Eisenstadt/Wichtige Projektfiles"

## Herzraten

In [5]:
Herzraten_csv = os.path.join(path_Herzraten,"csv files")
Herzraten_Fiwi = os.path.join(path_Herzraten,"Fiwi")
Herzraten_Schützen = os.path.join(path_Herzraten,"Schützen")
Herzraten_Tests = os.path.join(path_Herzraten,"TestsAndEvaluations")

What mean the acronym

On one hand (In the principle of the name):
- HR: heart rate

On the other (Inside of the name):

- DE
- IS

### CSV_files

In [4]:
csv_file_path = os.listdir(Herzraten_csv)

What is each of the part ?

- hr - hear rate
- 2016 - year of the data 
- DE.2011.14 - ID
- DE - Gatter/Fuetterung (Area name)

from 2016/10/14 to 2019/06/25

QI is a kind of categorie (I am not sure about what is)

In [5]:
# hr_2016_DE.2011.14.csv
df = pl.read_csv(os.path.join(Herzraten_csv,csv_file_path[0]))
df

shape: (44025, 4)
┌──────────────────┬─────────┬───────────┬─────┐
│ Date             ┆ Temp    ┆ HeartRate ┆ QI  │
│ ---              ┆ ---     ┆ ---       ┆ --- │
│ str              ┆ f64     ┆ i64       ┆ i64 │
╞══════════════════╪═════════╪═══════════╪═════╡
│ 2016/10/14 12:00 ┆ 23.6    ┆ 227       ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2016/10/14 12:12 ┆ 18.45   ┆ 51        ┆ 2   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2016/10/14 12:24 ┆ 16.8    ┆ 194       ┆ 2   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2016/10/14 12:36 ┆ 16.47   ┆ 335       ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ ...              ┆ ...     ┆ ...       ┆ ... │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017/10/16 08:12 ┆ -218.27 ┆ 1023      ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017/10/16 08:24 ┆ -218.27 ┆ 1023      ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017/10/16 08:36 ┆ -218.27 ┆ 1023      ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017/10/16 08:48 ┆ -218.27 ┆ 1023      ┆ 3   │
└──────────────────┴─────────┴───────────┴─────┘

In [6]:
df[2,0]

'2016/10/14 12:24'

### FIWI

Inside of the name folders we have a code "CHL0062" with information inside with extension CCD, CCT ... I think that is genetic information

In [7]:
fiwi_path = os.listdir(Herzraten_Fiwi)[1:]

In [21]:
# We will analyze heidi data.
heidi_herzraten_data = os.path.join(Herzraten_Fiwi,fiwi_path[0])
files_heidi = os.listdir(heidi_herzraten_data)

In [47]:
df = pd.read_excel(os.path.join(heidi_herzraten_data,files_heidi[1]))
df = pl.DataFrame(df)
df = df.filter(pl.col("Temp(°C)") > -168.45)
df

shape: (31920, 4)
┌─────────────────────┬──────────┬─────────────────┬─────┐
│ Date & Time         ┆ Temp(°C) ┆ Heart rate(bpm) ┆ QI  │
│ ---                 ┆ ---      ┆ ---             ┆ --- │
│ datetime[ns]        ┆ f64      ┆ i64             ┆ i64 │
╞═════════════════════╪══════════╪═════════════════╪═════╡
│ 2017-08-28 09:00:00 ┆ 23.83    ┆ 114             ┆ 2   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017-08-28 09:12:00 ┆ 23.83    ┆ 1               ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017-08-28 09:24:00 ┆ 23.93    ┆ 0               ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017-08-28 09:36:00 ┆ 24.15    ┆ 0               ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ ...                 ┆ ...      ┆ ...             ┆ ... │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2018-05-21 08:12:00 ┆ 37.0     ┆ 70              ┆ 0   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2018-05-21 08:24:00 ┆ 36.94    ┆ 86              ┆ 0   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2018-05-21 08:36:00 ┆ 36.64    ┆ 70              ┆ 0   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2018-05-21 08:48:00 ┆ 35.17    ┆ 50              ┆ 0   │
└─────────────────────┴──────────┴─────────────────┴─────┘

### Schützen

Each of the files to a wild boar?, ge14 also they have de Id

- ge14
- DE.2011.25

In [71]:
schutzen_path = os.listdir(Herzraten_Schützen)
schutzen_path

['ge14_2016',
 'ge14_2017',
 'ge21_2016',
 'or01_2017',
 'or04_2017',
 'or11_2017',
 'or12_2017',
 'rs08_2017',
 'rt07_2016',
 'vl06_2017',
 'vl08_2016']

In [66]:
ge14_2016_herzraten_data = os.path.join(Herzraten_Schützen,schutzen_path[0])
ge14_2016_herzraten = os.listdir(ge14_2016_herzraten_data)
ge14_2016_herzraten

['CHL0021', 'hr_2016_DE.2011.14.xlsx', '~$hr_2016_DE.2011.14.xlsx']

In [69]:
df = pd.read_excel(os.path.join(ge14_2016_herzraten_data,"hr_2016_DE.2011.14.xlsx"))
df = pl.DataFrame(df)
df

shape: (44025, 4)
┌─────────────────────┬──────────┬─────────────────┬─────┐
│ Date & Time         ┆ Temp(°C) ┆ Heart rate(bpm) ┆ QI  │
│ ---                 ┆ ---      ┆ ---             ┆ --- │
│ datetime[ns]        ┆ f64      ┆ i64             ┆ i64 │
╞═════════════════════╪══════════╪═════════════════╪═════╡
│ 2016-10-14 12:00:00 ┆ 23.6     ┆ 227             ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2016-10-14 12:12:00 ┆ 18.45    ┆ 51              ┆ 2   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2016-10-14 12:24:00 ┆ 16.8     ┆ 194             ┆ 2   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2016-10-14 12:36:00 ┆ 16.47    ┆ 335             ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ ...                 ┆ ...      ┆ ...             ┆ ... │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017-10-16 08:12:00 ┆ -218.27  ┆ 1023            ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017-10-16 08:24:00 ┆ -218.27  ┆ 1023            ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017-10-16 08:36:00 ┆ -218.27  ┆ 1023            ┆ 3   │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 2017-10-16 08:48:00 ┆ -218.27  ┆ 1023            ┆ 3   │
└─────────────────────┴──────────┴─────────────────┴─────┘

### Test And Evaluations

In [6]:
testEva_path = os.listdir(Herzraten_Tests)
testEva_path

['EavlRQI_rt07_CHL0025.xlsx',
 'Test_ge21_CHL0024.xlsx',
 'Test_vl08_CHL0025.xlsx']

In [21]:
df = pd.read_excel(os.path.join(Herzraten_Tests,"EavlRQI_rt07_CHL0025.xlsx"),sheet_name=['RQI_2CHL0025','RQI_modified',"QI limits"])
df_2chl0025 = df.get("RQI_2CHL0025")
df_2chl0025_1 = df_2chl0025.iloc[:5,:7]
df_2chl0025_2 = df_2chl0025.iloc[5:,1:8]

In [22]:
df_modified = df.get("RQI_modified")
df_modified_1 = df_modified.iloc[:5,:7]
df_modified_2 = df_modified.iloc[5:,1:8]

In [24]:
df_limits = df.get("QI limits")
df_limits

,Mercury limits,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Fs,Theoretical Min,Guaranteed Min,Mercury (min BPM),Mercury (max BPM),Mercury (One per Buffer),NaN
1,200,20,40,40,200,20,<- OLD Limits (before 28.4.2017)
2,200,20,40,20,300,1,<- NEW Limits (after 28.4.2017)

In [28]:
df = pd.read_excel(os.path.join(Herzraten_Tests,"Test_ge21_CHL0024.xlsx"),sheet_name=['DAT','XY'])
df_test_ge21_dat = df.get("DAT")
df_test_ge21_XY = df.get("XY")

In [29]:
df = pd.read_excel(os.path.join(Herzraten_Tests,"Test_vl08_CHL0025.xlsx"),sheet_name=['DAT','XY'])
df_test_vl08_dat = df.get("DAT")
df_test_vl08_XY = df.get("XY")

## Klimadaten

In [5]:
Klimadaten_Logger = os.path.join(path_Klimadaten,"Logger")
Klimadaten_Wetterstation = os.path.join(path_Klimadaten,"Wetterstation")
Klimadaten_Eisenstadt_ZAMG = os.path.join(path_Klimadaten,"Eisenstadt ZAMG.xlsx")

Temperature of Eisenstadt ZAMG ?

### Eisenstadt ZAMG

In [31]:
df = pd.read_excel(Klimadaten_Eisenstadt_ZAMG)
df

,Year,Month,Mean temperature,Maximum Temperature,Minimum Temperature,Precipitation amount
0,2011,1.0,0.4,13.7,-10.9,22.0
1,2011,2.0,0.1,15.2,-9.3,3.0
2,2011,3.0,6.2,21.4,-6.5,41.0
3,2011,4.0,13.4,27.4,5.2,21.0
4,2011,5.0,16.0,28.5,2.2,83.0
5,2011,6.0,19.7,30.6,10.9,155.0
6,2011,7.0,19.7,34.6,11.2,45.0
7,2011,8.0,21.0,35.5,9.2,85.0
8,2011,9.0,18.1,31.4,9.3,61.0
9,2011,10.0,10.1,26.5,0.3,85.0
10,2011,11.0,3.0,15.5,-3.7,0.0
11,2011,12.0,3.2,12.6,-4.3,11.0
12,2012,1.0,2.4,11.4,-9.0,53.0
13,2012,2.0,-1.8,14.7,-14.8,16.0
14,2012,3.0,8.8,21.9,-5.3,6.0
15,2012,4.0,11.1,30.0,-0.7,37.4
16,2012,5.0,16.9,30.5,2.4,40.0
17,2012,6.0,20.7,35.9,6.8,62.0
18,2012,7.0,21.6,36.3,11.8,200.0
19,2012,8.0,21.3,35.3,10.6,61.0
20,2012,9.0,16.7,31.4,5.4,51.5
21,2012,10.0,10.1,24.9,-2.6,51.0
22,2012,11.0,6.8,16.8,0.8,49.0
23,2012,12.0,0.2,8.6,-8.9,35.0
24,2013,1.0,0.2,14.7,-12.2,69.0
25,2013,2.0,1.0,12.2,-6.8,72.0
26,2013,3.0,3.0,19.8,-6.2,51.0
27,2013,4.0,11.8,27.7,-1.4,16.0
28,2013,5.0,15.1,26.3,7.3,71.0
29,2013,6.0,18.8,33.9,7.3,100.0
30,2013,7.0,23.1,37.0,9.7,4.0
31,2013,8.0,21.6,39.3,11.8,56.0
32,2013,9.0,15.0,27.1,5.4,85.0
33,2013,10.0,11.0,22.7,0.6,26.0
34,2013,11.0,6.0,19.3,-5.4,92.6
35,2013,12.0,2.8,13.7,-3.7,9.0
36,2014,NaN,NaN,NaN,NaN,NaN

### Logger

In [60]:
Klimadaten_Logger = os.path.join(path_Klimadaten,"Logger")
files = os.listdir(Klimadaten_Logger)
files_FG = [w for w in files if "FG" in w and not "alldata" in w]

In [54]:
result = pd.DataFrame()
for file in files_FG:
    df = pd.read_csv(os.path.join(Klimadaten_Logger,file), sep=",",encoding= 'unicode_escape')
    result = pd.concat([result,df.iloc[:,1:]])
result = result.reset_index(drop=True)
result

,Time,Celsius(°C),Humidity(%rh),dew point(°C),Dew Point(°C)
0,24/09/2011 00:00:00,15.5,76.5,11.4,NaN
1,24/09/2011 01:00:00,15.5,77.0,11.5,NaN
2,24/09/2011 02:00:00,15.0,80.0,11.6,NaN
3,24/09/2011 03:00:00,14.0,83.0,11.2,NaN
4,24/09/2011 04:00:00,14.0,80.5,10.7,NaN
...,...,...,...,...,...
52787,13/10/2017 06:00:00,14.5,78.5,NaN,10.8
52788,13/10/2017 07:00:00,14.0,83.0,NaN,11.2
52789,13/10/2017 08:00:00,12.5,86.5,NaN,10.3
52790,13/10/2017 09:00:00,15.0,79.5,NaN,11.5
52791,13/10/2017 10:00:00,15.5,78.0,NaN,11.7

In [58]:
result.to_csv(os.path.join(Klimadaten_Logger,"Logger 1 FG.csv"),index=False)
result.to_excel(os.path.join(Klimadaten_Logger,"Logger 1 FG.xlsx"),index=False)

In [61]:
files_VG = [w for w in files if "VG" in w]

In [107]:
result = pd.DataFrame()
for file in files_VG:
    df = pd.read_csv(os.path.join(Klimadaten_Logger,file), sep=",",encoding= 'unicode_escape')
    result = pd.concat([result,df.iloc[:,1:]])

In [108]:
result["Time"] = pd.to_datetime(result["Time"],format="%d/%m/%Y %H:%M:%S")
result.sort_values(by='Time', inplace=True)
result = result.reset_index(drop=True)

In [109]:
result.to_csv(os.path.join(Klimadaten_Logger,"Logger 1 VG.csv"),index=False)
result.to_excel(os.path.join(Klimadaten_Logger,"Logger 1 VG.xlsx"),index=False)

### Wetterstation

For some reason the file Klima_2019.06.24-2019.08.21.csv have different columns name, so i have to change all of the columns name in all the files

In [46]:
wetter_files = os.listdir(Klimadaten_Wetterstation)
wetter_files

wetter_files_csv = [w for w in wetter_files if "Klima_" in w]

In [47]:
wetter_files_csv

['Klima_2016.12.11-2017.12.31.csv',
 'Klima_2018.01.01-2018.09.24.csv',
 'Klima_2018.10.25-2018.12.31.csv',
 'Klima_2019.01.01-2019.06.24.csv',
 'Klima_2019.06.24-2019.08.21.csv']

In [88]:
result = pd.DataFrame()
columns = ['Day of the Week ', 'Date Time ', 'Outside Temperature TX4 (°C)',
       'Outside Humidity TX4 (%)', 'Wind Speed TX4 (k/hr)',
       'Dominant Wind Dir TX4', 'Rain Amount TX4 (mm)', 'Solar Radiation TX4',
       'Radio RSSI TX4', 'Outside Temperature TX5 (°C)', 'Radio RSSI TX5',
       'Outside Temperature TX6 (°C)', 'Outside Humidity TX6 (%)',
       'Radio RSSI TX6', 'Inside Temperature (°C)', 'Inside Humidity (%)',
       'Barometric Pressure (mb)', 'Receiver Battery Voltage (volts)']
for file in wetter_files_csv:
    df = pd.read_csv(os.path.join(Klimadaten_Wetterstation,file),encoding= 'unicode_escape')
    df.columns = columns
    result = pd.concat([result,df.iloc[:,:]])
    if file == "Klima_2019.06.24-2019.08.21.csv":
        result["Date Time "] = pd.to_datetime(result["Date Time "],format="%Y-%m-%d %H:%M:%S")
    else:
        result["Date Time "] = pd.to_datetime(result["Date Time "],format="%Y/%m/%d %H:%M:%S")
result = result.reset_index(drop=True)
result.sort_values(by='Date Time ', inplace=True)
result

,Day of the Week,Date Time,Outside Temperature TX4 (°C),Outside Humidity TX4 (%),Wind Speed TX4 (k/hr),Dominant Wind Dir TX4,Rain Amount TX4 (mm),Solar Radiation TX4,Radio RSSI TX4,Outside Temperature TX5 (°C),Radio RSSI TX5,Outside Temperature TX6 (°C),Outside Humidity TX6 (%),Radio RSSI TX6,Inside Temperature (°C),Inside Humidity (%),Barometric Pressure (mb),Receiver Battery Voltage (volts)
0,Sun,2016-12-11 00:50:00,20.5,35,0.0,NaN,0.0,0,58,20.6,58.0,20.3,36,58,20.6,36,1020.6,4.131
1,Sun,2016-12-11 01:00:00,20.5,35,0.0,NaN,0.0,0,58,20.6,58.0,20.3,36,58,20.6,36,1020.5,4.131
2,Sun,2016-12-11 01:10:00,20.5,35,0.0,NaN,0.0,0,58,20.6,58.0,20.3,36,58,20.6,36,1020.3,4.131
3,Sun,2016-12-11 01:20:00,20.5,35,0.0,NaN,0.0,0,58,20.6,58.0,20.3,36,58,20.6,36,1020.2,4.131
4,Sun,2016-12-11 01:30:00,20.5,35,0.0,NaN,0.0,0,58,20.6,58.0,20.3,36,58,20.6,36,1020.0,4.131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137145,Wed,2019-08-21 13:00:00,20.5,65,8.1,NW,0.0,386,37,28.0,41.0,20.3,66,39,22.3,61,1049.5,4.717
137146,Wed,2019-08-21 13:10:00,20.3,66,10.3,NW,0.0,370,38,27.3,41.0,20.3,66,40,22.4,61,1049.2,4.717
137147,Wed,2019-08-21 13:20:00,20.4,67,8.2,NW,0.0,399,38,27.2,40.0,20.2,66,39,22.5,61,1049.4,4.717
137148,Wed,2019-08-21 13:30:00,20.3,67,10.1,NNW,0.0,431,38,27.2,41.0,20.2,66,41,22.6,61,1049.2,4.717
137149,Wed,2019-08-21 13:40:00,19.9,69,10.8,NW,0.0,385,39,26.8,41.0,20.1,67,40,22.6,60,1049.4,4.717

In [89]:
result.to_csv(os.path.join(Klimadaten_Wetterstation,"clima.csv"),index=False)
result.to_excel(os.path.join(Klimadaten_Wetterstation,"clima.xlsx"),index=False)

join wettersation

In [142]:
df_diagnosticData = pd.read_csv(os.path.join(Klimadaten_Wetterstation,"Wetterstation_2016.12.05-2019.06.24","DiagnosticData.txt"), header = 1,sep=",",encoding= 'unicode_escape')
df_diagnosticData["RecDateTime"] = pd.to_datetime(df_diagnosticData["RecDateTime"],format="%Y-%m-%d %H:%M:%S")
df_diagnosticData

,ReceiverRecID,ChannelIndex,RecDateTime,PacketsReceived,SuperCapVol,SolarPanelVol,ChannelBatteryVol,ReedClosed,ReedOpen,RadioRSSI,RadioAFC,RadioResynchs,TXStatus,IntervalIndex
0,2,5,2016-12-05 18:00:00,166,-1,-1,-1,0,0,58,0,0,0,0
1,2,3,2016-12-05 18:10:00,164,-1,-1,-1,0,153,58,0,0,0,0
2,2,4,2016-12-05 18:10:00,167,-1,-1,-1,0,0,58,3,0,0,0
3,2,5,2016-12-05 18:10:00,158,-1,-1,-1,0,0,58,0,0,0,0
4,2,3,2016-12-05 18:20:00,170,-1,-1,-1,0,159,58,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388534,2,4,2019-06-24 10:40:00,0,-1,-1,-1,0,0,255,-128,0,2,0
388535,2,5,2019-06-24 10:40:00,200,-1,-1,-1,0,0,37,1,0,0,0
388536,2,3,2019-06-24 10:50:00,218,-1,-1,-1,2,205,38,2,0,0,0
388537,2,4,2019-06-24 10:50:00,0,-1,-1,-1,0,0,255,-128,1,2,0
388538,2,5,2019-06-24 10:50:00,198,-1,-1,-1,0,0,37,1,0,0,0

In [143]:
df_Inside = pd.read_csv(os.path.join(Klimadaten_Wetterstation,"Wetterstation_2016.12.05-2019.06.24","InsideData.txt"), header = 1,sep=",",encoding= 'unicode_escape')
df_Inside["RecDateTime"] = pd.to_datetime(df_Inside["RecDateTime"],format="%Y-%m-%d %H:%M:%S")
df_Inside

,ReceiverRecID,ChannelIndex,RecDateTime,Barometer,TempIn,HumIn,DewPointIn,HeatIndexIn,ConsoleBatteryVol,GlobalStatus,IntervalIndex
0,2,8,2016-12-05 11:50:00,30359,729,36,443,710,704,1,0
1,2,8,2016-12-05 12:10:00,30356,725,37,446,710,704,1,0
2,2,8,2016-12-05 12:20:00,30353,722,36,437,700,704,1,0
3,2,8,2016-12-05 12:30:00,30350,719,37,441,700,705,1,0
4,2,8,2016-12-05 12:40:00,30352,717,37,439,690,705,1,0
...,...,...,...,...,...,...,...,...,...,...,...
129508,2,8,2019-06-24 10:10:00,30807,723,72,628,740,806,1,0
129509,2,8,2019-06-24 10:20:00,30811,730,72,634,750,807,1,0
129510,2,8,2019-06-24 10:30:00,30811,739,72,643,760,805,1,0
129511,2,8,2019-06-24 10:40:00,30813,744,72,648,760,806,1,0
129512,2,8,2019-06-24 10:50:00,30812,757,72,660,780,806,1,0

In [144]:
df_ISSData = pd.read_csv(os.path.join(Klimadaten_Wetterstation,"Wetterstation_2016.12.05-2019.06.24","ISSData.txt"), header = 1,sep=",",encoding= 'unicode_escape')
df_ISSData["RecDateTime"] = pd.to_datetime(df_ISSData["RecDateTime"],format="%Y-%m-%d %H:%M:%S")
df_ISSData

,ReceiverRecID,ChannelIndex,RecDateTime,TempOut,HiTempOut,LowTempOut,HumOut,WindSpeed,ScalerAvgWindDir,HiWindSpeed,...,RainCollectorType,RainCollectorInc,TotalRainClicks,HiRainRate,ET,UV,HiUV,SolarRad,HiSolarRad,IntervalIndex
0,2,3,2016-12-05 22:50:00,679,680,679,36,0,0,0,...,1,0.007874,0,0,0,255,0,0,0,0
1,2,3,2016-12-05 23:00:00,679,680,679,36,0,0,0,...,1,0.007874,0,0,2,255,0,0,0,0
2,2,3,2016-12-05 23:10:00,679,680,679,36,0,0,0,...,1,0.007874,0,0,0,255,0,0,0,0
3,2,3,2016-12-05 23:20:00,680,680,679,35,0,0,0,...,1,0.007874,0,0,0,255,0,0,0,0
4,2,3,2016-12-05 23:30:00,679,680,678,35,0,0,0,...,1,0.007874,0,0,0,255,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129508,2,3,2019-06-24 10:10:00,730,730,723,68,121,0,272,...,1,0.007874,0,0,0,255,0,693,721,0
129509,2,3,2019-06-24 10:20:00,735,735,730,67,118,0,272,...,1,0.007874,0,0,0,255,0,746,793,0
129510,2,3,2019-06-24 10:30:00,738,741,735,65,114,0,320,...,1,0.007874,0,0,0,255,0,741,768,0
129511,2,3,2019-06-24 10:40:00,742,742,736,65,106,0,288,...,1,0.007874,0,0,0,255,0,669,773,0
129512,2,3,2019-06-24 10:50:00,750,750,742,67,98,0,208,...,1,0.007874,0,0,0,255,0,841,879,0

In [146]:
df_TempHumData = pd.read_csv(os.path.join(Klimadaten_Wetterstation,"Wetterstation_2016.12.05-2019.06.24","TempHumData.txt"), header = 1,sep=",",encoding= 'unicode_escape')
df_TempHumData["RecDateTime"] = pd.to_datetime(df_TempHumData["RecDateTime"],format="%Y-%m-%d %H:%M:%S")
df_TempHumData

,ReceiverRecID,ChannelIndex,RecDateTime,TempOut,HiTempOut,LowTempOut,HumOut,DewPoint,HeatIndex,IntervalIndex
0,2,5,2016-12-05 22:50:00,685,685,684,36,403,660,0
1,2,4,2016-12-05 23:00:00,689,691,689,0,32767,32767,0
2,2,5,2016-12-05 23:00:00,685,685,684,36,403,660,0
3,2,4,2016-12-05 23:10:00,689,689,689,0,32767,32767,0
4,2,5,2016-12-05 23:10:00,685,685,684,36,403,660,0
...,...,...,...,...,...,...,...,...,...,...
259021,2,5,2019-06-24 10:30:00,719,719,716,70,616,730,0
259022,2,4,2019-06-24 10:40:00,32767,-32768,32767,0,32767,32767,0
259023,2,5,2019-06-24 10:40:00,722,722,719,71,623,730,0
259024,2,4,2019-06-24 10:50:00,32767,-32768,32767,0,32767,32767,0
259025,2,5,2019-06-24 10:50:00,728,728,722,72,632,740,0

df_Receivers container the locations of the receiver

In [145]:
df_Receivers = pd.read_csv(os.path.join(Klimadaten_Wetterstation,"Wetterstation_2016.12.05-2019.06.24","Receivers.txt"), header = 1,sep=",",encoding= 'unicode_escape')
df_Receivers

,ReceiverRecID,ReceiverName,ReceiverLoc,Elevation,Latitude,Longitude,TimeZone,DSNow,IntervalIndex,HWRev,FWRev,BWRev,ReceiverType,Settings
0,2,'Envoy8x Schuetzen','Schuetzen am Gebirge',1198,47.8,16.6,22,0,8,'','3.14','',0,1

df_channels container the informations of the channels

In [105]:
df_channels = pd.read_csv(os.path.join(Klimadaten_Wetterstation,"Wetterstation_2016.12.05-2019.06.24","Channels.txt"), header = 1,sep=",",encoding= 'unicode_escape')
df_channels = pl.DataFrame(df_channels)
df_channels

shape: (4, 8)
┌────────────┬────────────┬───────────┬───────────┬──────────┬────────────┬────────────┬──────────┐
│ ReceiverRe ┆ ChannelInd ┆ ChannelNa ┆ ChannelTy ┆ Repeater ┆ RainCollec ┆ RainCollec ┆ Settings │
│ cID        ┆ ex         ┆ me        ┆ pe        ┆ ---      ┆ torType    ┆ torInc     ┆ ---      │
│ ---        ┆ ---        ┆ ---       ┆ ---       ┆ i64      ┆ ---        ┆ ---        ┆ i64      │
│ i64        ┆ i64        ┆ str       ┆ i64       ┆          ┆ i64        ┆ f64        ┆          │
╞════════════╪════════════╪═══════════╪═══════════╪══════════╪════════════╪════════════╪══════════╡
│ 2          ┆ 3          ┆ 'Envoy8x  ┆ 6         ┆ 0        ┆ 1          ┆ 0.007874   ┆ 0        │
│            ┆            ┆ Schuetzen ┆           ┆          ┆            ┆            ┆          │
│            ┆            ┆ /Vantage  ┆           ┆          ┆            ┆            ┆          │
│            ┆            ┆ Pro2 ...  ┆           ┆          ┆            ┆            ┆          │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 4          ┆ 'Envoy8x  ┆ 1         ┆ 0        ┆ 255        ┆ 0.0        ┆ 0        │
│            ┆            ┆ Schuetzen ┆           ┆          ┆            ┆            ┆          │
│            ┆            ┆ /Temperat ┆           ┆          ┆            ┆            ┆          │
│            ┆            ┆ ure_5...  ┆           ┆          ┆            ┆            ┆          │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 5          ┆ 'Envoy8x  ┆ 3         ┆ 0        ┆ 255        ┆ 0.0        ┆ 0        │
│            ┆            ┆ Schuetzen ┆           ┆          ┆            ┆            ┆          │
│            ┆            ┆ /Temperat ┆           ┆          ┆            ┆            ┆          │
│            ┆            ┆ ure/H...  ┆           ┆          ┆            ┆            ┆          │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 8          ┆ 'Envoy8x  ┆ 16        ┆ 0        ┆ 255        ┆ 0.0        ┆ 0        │
│            ┆            ┆ Schuetzen ┆           ┆          ┆            ┆            ┆          │
│            ┆            ┆ /Inside   ┆           ┆          ┆            ┆            ┆          │
│            ┆            ┆ Data'     ┆           ┆          ┆            ┆            ┆          │
└────────────┴────────────┴───────────┴───────────┴──────────┴────────────┴────────────┴──────────┘

In [147]:
# Join tables

df_diagnosticData.columns = [w + "_D" if w != "RecDateTime" else w for w in df_diagnosticData.columns]
df_Inside.columns = [w + "_I" if w != "RecDateTime" else w for w in df_Inside.columns]
df_ISSData.columns = [w + "_ISS" if w != "RecDateTime" else w for w in df_ISSData.columns]
df_TempHumData.columns = [w + "_T" if w != "RecDateTime" else w for w in df_TempHumData.columns]

In [148]:
df_diagnosticData = pl.DataFrame(df_diagnosticData)
df_Inside = pl.DataFrame(df_Inside)
df_ISSData = pl.DataFrame(df_ISSData)
df_TempHumData = pl.DataFrame(df_TempHumData)

In [170]:
df = df_diagnosticData.join_asof(df_Inside, on="RecDateTime", by="RecDateTime")
df = df.join_asof(df_ISSData, on="RecDateTime", by="RecDateTime")
df = df.join_asof(df_TempHumData, on="RecDateTime", by="RecDateTime")
df = df.drop(["ReceiverRecID_I","ReceiverRecID_T","ReceiverRecID_ISS","IntervalIndex_D","IntervalIndex_I","IntervalIndex_ISS","IntervalIndex_T"])
df

shape: (388539, 51)
┌────────────┬────────────┬───────────┬────────────┬─────┬────────────┬──────────┬──────────┬───────────┐
│ ReceiverRe ┆ ChannelInd ┆ RecDateTi ┆ PacketsRec ┆ ... ┆ LowTempOut ┆ HumOut_T ┆ DewPoint ┆ HeatIndex │
│ cID_D      ┆ ex_D       ┆ me        ┆ eived_D    ┆     ┆ _T         ┆ ---      ┆ _T       ┆ _T        │
│ ---        ┆ ---        ┆ ---       ┆ ---        ┆     ┆ ---        ┆ i64      ┆ ---      ┆ ---       │
│ i64        ┆ i64        ┆ datetime[ ┆ i64        ┆     ┆ i64        ┆          ┆ i64      ┆ i64       │
│            ┆            ┆ ns]       ┆            ┆     ┆            ┆          ┆          ┆           │
╞════════════╪════════════╪═══════════╪════════════╪═════╪════════════╪══════════╪══════════╪═══════════╡
│ 2          ┆ 5          ┆ 2016-12-0 ┆ 166        ┆ ... ┆ 690        ┆ 36       ┆ 408      ┆ 660       │
│            ┆            ┆ 5         ┆            ┆     ┆            ┆          ┆          ┆           │
│            ┆            ┆ 18:00:00  ┆            ┆     ┆            ┆          ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 3          ┆ 2016-12-0 ┆ 164        ┆ ... ┆ 690        ┆ 36       ┆ 409      ┆ 660       │
│            ┆            ┆ 5         ┆            ┆     ┆            ┆          ┆          ┆           │
│            ┆            ┆ 18:10:00  ┆            ┆     ┆            ┆          ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 4          ┆ 2016-12-0 ┆ 167        ┆ ... ┆ 690        ┆ 36       ┆ 409      ┆ 660       │
│            ┆            ┆ 5         ┆            ┆     ┆            ┆          ┆          ┆           │
│            ┆            ┆ 18:10:00  ┆            ┆     ┆            ┆          ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 5          ┆ 2016-12-0 ┆ 158        ┆ ... ┆ 690        ┆ 36       ┆ 409      ┆ 660       │
│            ┆            ┆ 5         ┆            ┆     ┆            ┆          ┆          ┆           │
│            ┆            ┆ 18:10:00  ┆            ┆     ┆            ┆          ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ ...        ┆ ...        ┆ ...       ┆ ...        ┆ ... ┆ ...        ┆ ...      ┆ ...      ┆ ...       │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 5          ┆ 2019-06-2 ┆ 200        ┆ ... ┆ 719        ┆ 71       ┆ 623      ┆ 730       │
│            ┆            ┆ 4         ┆            ┆     ┆            ┆          ┆          ┆           │
│            ┆            ┆ 10:40:00  ┆            ┆     ┆            ┆          ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 3          ┆ 2019-06-2 ┆ 218        ┆ ... ┆ 722        ┆ 72       ┆ 632      ┆ 740       │
│            ┆            ┆ 4         ┆            ┆     ┆            ┆          ┆          ┆           │
│            ┆            ┆ 10:50:00  ┆            ┆     ┆            ┆          ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 4          ┆ 2019-06-2 ┆ 0          ┆ ... ┆ 722        ┆ 72       ┆ 632      ┆ 740       │
│            ┆            ┆ 4         ┆            ┆     ┆            ┆          ┆          ┆           │
│            ┆            ┆ 10:50:00  ┆            ┆     ┆            ┆          ┆          ┆           │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┤
│ 2          ┆ 5          ┆ 2019-06-2 ┆ 198        ┆ ... ┆ 722        ┆ 72       ┆ 632      ┆ 740       │
│            ┆            ┆ 4         ┆            ┆     ┆            ┆          ┆          ┆           │
│            ┆            ┆ 10:50:00  ┆            ┆     ┆            ┆          ┆          ┆           │
└────────────┴────────────┴───────────┴────────────┴─────┴────────────┴──────────┴──────────┴───────────┘

In [171]:
df.write_csv(os.path.join(Klimadaten_Wetterstation,"Wetterstation_2016.12.05-2019.06.24","data.csv"))

## Suhlenlogger

In [4]:
files_suhlenlogger = os.listdir(path_Suhlenlogger)
files_suhlenlogger_1 = [w for w in files_suhlenlogger if "Suhle1" in w]
files_suhlenlogger_2 = [w for w in files_suhlenlogger if "Suhle2" in w]
files_suhlenlogger_3 = [w for w in files_suhlenlogger if "Suhle3" in w]
files_suhlenlogger_4 = [w for w in files_suhlenlogger if "Suhle4" in w]
files_suhlenlogger_5 = [w for w in files_suhlenlogger if "Suhle5" in w]
files_suhlenlogger_6 = [w for w in files_suhlenlogger if "Suhle6" in w]
files_suhlenlogger_7 = [w for w in files_suhlenlogger if "Suhle7" in w]
files_suhlenlogger_8 = [w for w in files_suhlenlogger if "Suhle8" in w]
files_suhlenlogger_9 = [w for w in files_suhlenlogger if "Suhle9" in w]
files_suhlenlogger_FG = [w for w in files_suhlenlogger if "SuhleFG" in w]
files_suhlenlogger_VG = [w for w in files_suhlenlogger if "SuhleVG" in w]

In [48]:
list_names = ["Suhlen1","Suhlen2","Suhlen3","Suhlen4","Suhlen5","Suhlen6","Suhlen7","Suhlen8","Suhlen9","SuhlenFG","SuhlenVG"]
lists = [files_suhlenlogger_1,files_suhlenlogger_2,files_suhlenlogger_3,files_suhlenlogger_4,files_suhlenlogger_5,files_suhlenlogger_6,files_suhlenlogger_7,files_suhlenlogger_8,files_suhlenlogger_9,files_suhlenlogger_FG,files_suhlenlogger_VG]
for index,name in enumerate(list_names):
    result = pd.DataFrame()
    list_data = []
    for file in lists[index]:
        try:
            df = pd.read_csv(os.path.join(path_Suhlenlogger,file), skiprows=13, sep=",",encoding= 'unicode_escape')
            cont = 0
            list = []
            with open(os.path.join(path_Suhlenlogger,file)) as file_obj:
                
                reader_obj = csv.reader(file_obj)
            
                for row in reader_obj:
                    list.append(row[0])
                    if cont == 12:
                        break
                    cont += 1
            
            df["Date/Time"] = pd.to_datetime(df["Date/Time"])
            
            result = pd.concat([result,df.iloc[:,:]])
            list_data.append(list)
        except:
            df = pd.read_csv(os.path.join(path_Suhlenlogger,file), skiprows=18, sep=",",encoding= 'unicode_escape')
            cont = 0
            list = []
            with open(os.path.join(path_Suhlenlogger,file)) as file_obj:
                
                reader_obj = csv.reader(file_obj)
            
                for row in reader_obj:
                    list.append(row[0])
                    if cont == 17:
                        break
                    cont += 1
            
            df["Date/Time"] = pd.to_datetime(df["Date/Time"])
            
            result = pd.concat([result,df.iloc[:,:]])
            list_data.append(list)
    
    with open(os.path.join(path_Suhlenlogger,name + "_summary.csv"), 'w') as f:
        write = csv.writer(f)
        write.writerows(list_data)
    
    result = result.reset_index(drop=True)
    result.to_csv(os.path.join(path_Suhlenlogger, name + ".csv"),index=False)

## Telemetriedate

In [4]:
Telemetriedate_acceleration = os.path.join(path_Telemetriedate, "acceleration")
Telemetriedate_positions = os.path.join(path_Telemetriedate, "positions")
Telemetriedate_rssi = os.path.join(path_Telemetriedate, "rssi")
Telemetriedate_temperatures = os.path.join(path_Telemetriedate, "temperatures")

### acceleration

- Tagid
- Tagmac

Small areas or big areas ?
Which kind of will boars ?

In [17]:
acceleration_files = os.listdir(Telemetriedate_acceleration)
init = datetime(int(acceleration_files[1][:4]), int(acceleration_files[1][4:6]), int(acceleration_files[1][6:8]))
end = datetime(int(acceleration_files[-1][:4]), int(acceleration_files[-1][4:6]), int(acceleration_files[-1][6:8]))
print(init)
print(end)

2016-12-20 00:00:00
2020-02-10 00:00:00

In [38]:
df = pd.read_csv(os.path.join(Telemetriedate_acceleration,acceleration_files[1]),sep=";")
df["timestampms"] = pd.to_datetime(df["timestampms"],format="%Y%m%d%H%M%S%f")
df = df.drop(["animalname"], axis=1)
df

,timestampms,tagid,tagmac,modulversion,softwareversion,accX,accY,accZ,absoluteAcc
0,2016-12-20 13:12:43.708,2,151069,75.0,67.0,-16,864,480,988.510
1,2016-12-20 13:12:44.263,1,113308,75.0,64.0,80,336,-1024,1080.681
2,2016-12-20 13:12:44.708,2,151069,75.0,67.0,-16,880,480,1002.525
3,2016-12-20 13:12:45.263,1,113308,75.0,64.0,80,320,-1008,1060.596
4,2016-12-20 13:12:45.708,2,151069,75.0,67.0,-16,864,464,980.840
...,...,...,...,...,...,...,...,...,...
19665,2016-12-20 13:28:39.063,34,148437,75.0,67.0,32,-896,432,995.221
19666,2016-12-20 13:28:39.106,70,156011,75.0,66.0,-32,800,640,1025.000
19667,2016-12-20 13:28:39.163,34,148437,75.0,67.0,32,-896,416,988.380
19668,2016-12-20 13:28:39.263,34,148437,75.0,67.0,32,-912,432,1009.649
19669,2016-12-20 13:28:39.470,21D,541,NaN,NaN,-16,-20,1024,1024.320

### Positions

In [39]:
position_files = os.listdir(Telemetriedate_positions)
init = datetime(int(position_files[1][:4]), int(position_files[1][4:6]), int(position_files[1][6:8]))
end = datetime(int(position_files[-1][:4]), int(position_files[-1][4:6]), int(position_files[-1][6:8]))
print(init)
print(end)

2017-01-26 00:00:00
2020-02-10 00:00:00

In [40]:
df = pd.read_csv(os.path.join(Telemetriedate_positions,position_files[1]),sep=";")
df["timestampms"] = pd.to_datetime(df["timestampms"],format="%Y%m%d%H%M%S%f")
df = df.drop(["animalname"], axis=1)
df

,timestampms,tagid,tagmac,modulversion,softwareversion,x-value,y-value,Unnamed: 8
0,2017-01-26 21:03:11.082,2,151069,9.3,8.3,0,0,NaN
1,2017-01-26 21:03:11.371,72,136194,9.3,8.2,0,0,NaN
2,2017-01-26 21:03:11.586,93,162438,9.3,8.3,0,0,NaN
3,2017-01-26 21:03:12.174,97,155604,9.3,8.3,0,0,NaN
4,2017-01-26 21:03:12.347,45,147610,9.3,8.2,0,0,NaN
...,...,...,...,...,...,...,...,...
27396,2017-01-26 23:59:59.756,21,142741,9.3,8.2,0,0,NaN
27397,2017-01-26 23:59:59.842,60,167155,9.3,8.2,0,0,NaN
27398,2017-01-26 23:59:59.865,73,141216,9.3,8.2,0,0,NaN
27399,2017-01-26 23:59:59.912,34,148437,9.3,8.3,0,0,NaN
27400,2017-01-26 23:59:59.958,2,151069,9.3,8.3,0,0,NaN

### Rssi

In [45]:
rssi_files = os.listdir(Telemetriedate_rssi)
init = datetime(int(rssi_files[1][:4]), int(rssi_files[1][4:6]), int(rssi_files[1][6:8]))
end = datetime(int(rssi_files[-1][:4]), int(rssi_files[-1][4:6]), int(rssi_files[-1][6:8]))
print(init)
print(end)

2016-12-20 00:00:00
2020-02-10 00:00:00

In [54]:
df = pd.read_csv(os.path.join(Telemetriedate_rssi,rssi_files[1]),sep=";")
df["timestamp"] = pd.to_datetime(df["timestamp"],format="%Y%m%d%H%M%S%f")
df

,timestamp,tagmac,anchor,rssi,anchor.1,rssi.1,anchor.2,rssi..
0,2016-12-20 13:12:56.211,155786,64,7.0,64.0,8.0,NaN,NaN
1,2016-12-20 13:12:57.199,155786,64,6.0,64.0,8.0,NaN,NaN
2,2016-12-20 13:12:57.871,541,64,5.0,64.0,2.0,NaN,NaN
3,2016-12-20 13:12:58.187,155786,64,7.0,64.0,7.0,NaN,NaN
4,2016-12-20 13:12:58.647,148437,64,7.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2035,2016-12-20 13:28:37.903,127555,64,5.0,64.0,1.0,NaN,NaN
2036,2016-12-20 13:28:38.781,155786,64,9.0,64.0,8.0,NaN,NaN
2037,2016-12-20 13:28:39.106,156011,64,2.0,64.0,1.0,NaN,NaN
2038,2016-12-20 13:28:39.263,148437,64,7.0,64.0,13.0,NaN,NaN
2039,2016-12-20 13:28:39.470,541,64,6.0,64.0,1.0,NaN,NaN

### Temperatures

In [55]:
temp_files = os.listdir(Telemetriedate_temperatures)
init = datetime(int(temp_files[1][:4]), int(temp_files[1][4:6]), int(temp_files[1][6:8]))
end = datetime(int(temp_files[-1][:4]), int(temp_files[-1][4:6]), int(temp_files[-1][6:8]))
print(init)
print(end)

2016-12-20 00:00:00
2020-02-10 00:00:00

In [58]:
df = pd.read_csv(os.path.join(Telemetriedate_temperatures,temp_files[1]),sep=";")
df["timestampms"] = pd.to_datetime(df["timestampms"],format="%Y%m%d%H%M%S%f")
df = df.drop(["animalname"], axis=1)
df

               timestampms  tagid  tagmac  temperature
0  2016-12-20 13:13:10.075   58.0  155786        24.50
1  2016-12-20 13:13:24.398   62.0  121996        22.50
2  2016-12-20 13:13:30.317    2.0  151069        24.25
3  2016-12-20 13:13:32.511   29.0  127555        24.00
4  2016-12-20 13:13:33.413    NaN     541        27.75
..                     ...    ...     ...          ...
94 2016-12-20 13:28:10.584   62.0  121996        22.75
95 2016-12-20 13:28:16.541    2.0  151069        24.25
96 2016-12-20 13:28:22.041   29.0  127555        24.25
97 2016-12-20 13:28:34.821    1.0  164820        24.00
98 2016-12-20 13:28:36.491   34.0  148437        24.25

[99 rows x 4 columns]

## Temperaturlogger

In [4]:
files = os.listdir(os.path.join(path_Temperaturlogger))

In [10]:
if_temp = [w for w in files if "if" in w]
ip_temp = [w for w in files if "ip" in w]
sc_temp = [w for w in files if "sc" in w]

DE.2011.25 if is if is 108 id and if is sc is 8 ? what this mean?

In [14]:
if_temp[0]

'if_2016_DE.2011.25.csv'

In [13]:
df = pd.read_csv(os.path.join(path_Temperaturlogger,if_temp[0]),sep=",")
df

         Id                 Date  RawData  Temperature
0       108  2016-09-26 14:33:00      409        25.33
1       108  2016-09-26 14:37:00      403        24.95
2       108  2016-09-26 14:41:00      402        24.89
3       108  2016-09-26 14:45:00      400        24.77
4       108  2016-09-26 14:49:00      399        24.70
...     ...                  ...      ...          ...
135987  108  2017-10-09 08:21:00      372        23.02
135988  108  2017-10-09 08:25:00      373        23.08
135989  108  2017-10-09 08:29:00        0        -0.14
135990  108  2017-10-09 08:33:00        0        -0.14
135991  108  2017-10-09 08:37:00        0        -0.14

[135992 rows x 4 columns]

In [17]:
ip_temp[0]

'ip_2016_DE.2011.14.csv'

In [15]:
df = pd.read_csv(os.path.join(path_Temperaturlogger,ip_temp[0]),sep=",")
df

         Id                 Date  RawData  Temperature
0       116  2016-09-29 09:50:00      414        25.72
1       116  2016-09-29 09:54:00      412        25.60
2       116  2016-09-29 09:58:00      484        30.06
3       116  2016-09-29 10:02:00      523        32.48
4       116  2016-09-29 10:06:00      551        34.22
...     ...                  ...      ...          ...
137507  116  2017-10-16 08:58:00      386        23.98
137508  116  2017-10-16 09:02:00      395        24.54
137509  116  2017-10-16 09:06:00        0         0.04
137510  116  2017-10-16 09:10:00        0         0.04
137511  116  2017-10-16 09:14:00        0         0.04

[137512 rows x 4 columns]

In [18]:
sc_temp[0]

'sc_2016_DE.2011.23.csv'

In [19]:
df = pd.read_csv(os.path.join(path_Temperaturlogger,sc_temp[0]),sep=",")
df

        Id                 Date  RawData  Temperature
0        3  2016-09-26 14:18:00      406        25.16
1        3  2016-09-26 14:22:00      407        25.22
2        3  2016-09-26 14:26:00      407        25.22
3        3  2016-09-26 14:30:00      406        25.16
4        3  2016-09-26 14:34:00      405        25.10
...     ..                  ...      ...          ...
136339   3  2017-10-10 07:34:00      348        21.57
136340   3  2017-10-10 07:38:00      358        22.19
136341   3  2017-10-10 07:42:00      358        22.19
136342   3  2017-10-10 07:46:00      362        22.43
136343   3  2017-10-10 07:50:00      360        22.31

[136344 rows x 4 columns]

### Originale von Gerhard, termo logger

I remover file "sc_2017_IS.2011.13_i1.csv"

In [23]:
original_temp = os.path.join(path_Temperaturlogger,"Originale von Gerhard")
original_temp_file = [w for w in os.listdir(original_temp) if ".csv" in w]

In [29]:
name = original_temp_file[0][12:-4]
print(name)
df = pd.read_csv(os.path.join(original_temp,original_temp_file[0]),sep=",")
df

ID102

         Id                 Date  RawData  Temperature
0       102  2016-09-26 14:59:00      416        25.84
1       102  2016-09-26 15:03:00      413        25.66
2       102  2016-09-26 15:07:00      409        25.41
3       102  2016-09-26 15:11:00      406        25.22
4       102  2016-09-26 15:15:00      404        25.10
...     ...                  ...      ...          ...
136335  102  2017-10-10 07:59:00      360        22.37
136336  102  2017-10-10 08:03:00      363        22.56
136337  102  2017-10-10 08:07:00      360        22.37
136338  102  2017-10-10 08:11:00      355        22.06
136339  102  2017-10-10 08:15:00      361        22.43

[136340 rows x 4 columns]

## Wichtige Projektfiles

### binary data

In [15]:
binary_data = os.path.join(path_Wichtige_Projektfiles,"binary data")
binary_data_files = os.listdir(binary_data)
binary_data_files = [file for file in binary_data_files if ".RData" in file]
binary_data_files

['Accelerationdata.RData',
 'Accelerationdata_2016.RData',
 'Accelerationdata_2017.RData',
 'Positionsdata_2017.RData',
 'Positionsdata_2018.RData',
 'Positionsdata_2019.RData']

In [ ]:
# result = rdata.parser.parse_file(os.path.join(binary_data,"Loggers and Climate_one dataframe_closest time.RData")) # also works for Rds
# df = rdata.conversion.convert(result)
# df["AllData"]
# df["AllData"].to_csv(os.path.join(binary_data,"Loggers and Climate_one dataframe_closest time.csv"))

In [17]:
logg_climate = os.path.join(binary_data,"Loggers and Climate_one dataframe_closest time")
logg_climate_aprox = os.path.join(binary_data,"Loggers and Climate_one dataframe_linear approx")
logg_climate_separate = os.path.join(binary_data,"Loggers and Climate_separate dataframes")
tele_fiwi = os.path.join(binary_data,"TelemetrieFiwigatter")
tele_jagd = os.path.join(binary_data,"TelemetrieJagdgatter")
water = os.path.join(binary_data,"WaterTemperatures")

In [ ]:
df_logg_climate = pd.read_csv(os.path.join(logg_climate,"Loggers and Climate_one dataframe_closest time_AllData.csv"),low_memory=False)
df_logg_climate

In [ ]:
df_logg_climate_aprox = pd.read_csv(os.path.join(logg_climate,"Loggers and Climate_one dataframe_linear approx_AllData.approx.csv"))
df_logg_climate_aprox

In [ ]:
files_climate_separate = os.listdir(logg_climate_separate)[1:]
df_EarTemp = pd.read_csv(os.path.join(logg_climate_separate,files_climate_separate[0]))
df_HeartRate = pd.read_csv(os.path.join(logg_climate_separate,files_climate_separate[1]))
df_IntraFixe = pd.read_csv(os.path.join(logg_climate_separate,files_climate_separate[2]))
df_IntraFree = pd.read_csv(os.path.join(logg_climate_separate,files_climate_separate[3]))
df_OL = pd.read_csv(os.path.join(logg_climate_separate,files_climate_separate[4]))
df_Subcut = pd.read_csv(os.path.join(logg_climate_separate,files_climate_separate[5]),low_memory=False)
df_Telemetrie = pd.read_csv(os.path.join(logg_climate_separate,files_climate_separate[6]))
df_Weather = pd.read_csv(os.path.join(logg_climate_separate,files_climate_separate[7]))

### Daten Abschuss 2020

In [24]:
date_abschuss = os.path.join(path_Wichtige_Projektfiles,"Daten Abschuss 2020")
date_abschuss_files = os.listdir(date_abschuss)
date_abschuss_files

['FiWi_Gatter_Abschuss_2020.xlsx',
 'FiWi_Gatter_Abschuss_2020_2.xlsx',
 'FiWi_Gatter_Abschuss_2020_3.xlsx',
 'FiWi_Gatter_Abschuss_2020_all.xlsx']

This date, are from the date 3/1/2020 to 27/1 i dont know if is usefull

### FutterWasser

In [25]:
date_futterWasser = os.path.join(path_Wichtige_Projektfiles,"FutterWasser")
date_futterWasser_files = os.listdir(date_futterWasser)
date_futterWasser_files

['Futterautomaten JG.xlsx',
 'Futterübersicht aktuell.xlsx',
 'Mastaufnahme.xlsx',
 'Suhlenlogger.xlsx',
 'ZusammenfassungWasserqualität.xlsx']

In [34]:
#Of the food, will be important
df_Futterübersicht_1 = pd.read_excel(os.path.join(date_futterWasser,"Futterübersicht aktuell.xlsx"),sheet_name='Futterliste')

df_Futterübersicht_2 = pd.read_excel(os.path.join(date_futterWasser,"Futterübersicht aktuell.xlsx"),sheet_name='Auswertungen und Grafiken')
df_Futterübersicht_2 = df_Futterübersicht_2.iloc[:150,12:]

In [36]:
df_Mastaufnahme = pd.read_excel(os.path.join(date_futterWasser,"Mastaufnahme.xlsx"),sheet_name='alle Rohdaten')

In [37]:
df_Suhlenlogger = pd.read_excel(os.path.join(date_futterWasser,"Suhlenlogger.xlsx"), sheet_name="Auslesen")

In [38]:
df_ZusammenfassungWasserqualität = pd.read_excel(os.path.join(date_futterWasser,"ZusammenfassungWasserqualität.xlsx"),sheet_name="Tabelle1")

### Telemetrie

In [50]:
date_telemetrie = os.path.join(path_Wichtige_Projektfiles,"Telemetrie")
date_telemetrie_files = [file for file in os.listdir(date_telemetrie) if not ".pdf" in file ]
date_telemetrie_files

['IDs Smartbowmarken.csv',
 'Smartbowmarken IDs.xlsx',
 'TelemetrieAnimals.xlsx',
 'TelemetrieEmpfänger.csv',
 'TelemetrieEmpfänger.xlsx']

In [48]:
df_ids = pd.read_csv(os.path.join(date_telemetrie,"IDs Smartbowmarken.csv"))
df_smart = pd.read_excel(os.path.join(date_telemetrie,"Smartbowmarken IDs.xlsx"))
df_teleanimals = pd.read_excel(os.path.join(date_telemetrie,"TelemetrieAnimals.xlsx")).iloc[:103,:]
df_tele = pd.read_csv(os.path.join(date_telemetrie,"TelemetrieEmpfänger.csv"), sep=",",encoding= 'unicode_escape')

### Tiere

In [51]:
date_tiere = os.path.join(path_Wichtige_Projektfiles,"Tiere")
date_tiere_files = os.listdir(date_tiere)
date_tiere_files

['Abschussliste FiWi_Gatter.xlsx',
 'Anzahl Tiere Gatter Verlauf.xlsx',
 'ImplantedAnimals.xlsx',
 'Masterfile Reproduction.xlsx',
 'MasterfileTiere.xlsx',
 'MicrosatDaten ProjektEsterhazy.xlsx',
 'Missing Implanted Animals.xlsx',
 'OverviewLogger.csv',
 'OverviewLogger.xlsx',
 'OverviewLogger_CB.xlsx',
 'UebersichtHeartrateLogger.xlsx']

In [56]:
df_imp = pd.read_excel(os.path.join(date_tiere,"ImplantedAnimals.xlsx"))
df_repro = pd.read_excel(os.path.join(date_tiere,"Masterfile Reproduction.xlsx"))
df_tiere = pd.read_excel(os.path.join(date_tiere,"MasterfileTiere.xlsx")) # Une id con tag
df_over = pd.read_excel(os.path.join(date_tiere,"OverviewLogger.xlsx")) # Une id con tag